<link href="/static/css/nav-bar.css" rel="stylesheet" type="text/css">
<div class="navigation-container">
    <div class="navigation-bar">
        <div style="width: 95%;">
            <a class="title" href="/dashboard">CAPitan</a>
            <a class="navigation-button" href="/packet">Packet</a>
            <a class="navigation-button" href="/arp">ARP</a>
            <a class="navigation-button" href="/admin">Admin</a>
        </div>
        <div class="dropdown">
            <button class="dropbtn" onclick="showMenu()">{{.Username}}</button>
            <div class="dropdown-content" id="dropDownMenu">
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/dashboard.js"></script>