<div class="master-container">
    <div class="align-right-container">
        <a class="green-button" onclick="showDialog()">New</a>
    </div>
    <div class="dialog-container" id="new-user-dialog" style="display: none; width: 25%; height: 15%;">
        <h3 id="user-already-taken" style="display: none; color: #e74c3c; font-family: Arial, serif;">User already
            taken</h3>
        <h3 id="user-not-taken" style="display: none; color: #2ecc71; font-family: Arial, serif;">User not
            taken</h3>
        <form action="/admin/user?action=new" id="create-user" method="post" onsubmit="return false;">
            <label for="username"></label>
            <div>
                <input class="basic-text-input" id="username" name="username" placeholder="Username" required
                       type="text">
                <button class="green-button" onclick="checkUsername()" type="button">Test</button>
            </div>
            <div style="margin-top: 2%;">
                <button class="red-button" onclick="hideDialog()" type="button">Cancel</button>
                <button class="green-button" onclick="createUsername(); return false;" type="submit">Create User
                </button>
            </div>
        </form>
    </div>
    <div class="list-container">
        {{range $index, $user := .Users}}
        {{if $user.IsEnabled}}
        <div class="list-entry">
            <h3 class="black-text" style="width: 28%;">{{$user.Username}}</h3>
            <span style="width: 1vw;"></span>
            <h3 class="green-text" style="width: 28%;">Enabled</h3>
            <span style="width: 1vw;"></span>
            {{if $user.IsAdmin}}
            <h3 class="blue-text" style="width: 28%;">Admin</h3>
            {{else}}
            <h3 class="black-text" style="width: 28%;">Basic</h3>
            {{end}}
            <span style="width: 1vw;"></span>
            <form action="/admin/user?action=edit" method="post">
                <label for="{{$index}}" style="display: none;">{{$user.Username}}</label>
                <input class="black-text" id="{{$index}}" name="username" readonly style="display: none;"
                       type="text"
                       value="{{$user.Username}}">
                <button class="green-button" type="submit">Edit</button>
            </form>
        </div>
        {{else}}
        <div class="list-entry">
            <h3 class="black-text" style="width: 28%;">{{$user.Username}}</h3>
            <span style="width: 1vw;"></span>
            <h3 class="red-text" style="width: 28%;">Disabled</h3>
            <span style="width: 1vw;"></span>
            {{if $user.IsAdmin}}
            <h3 class="blue-text" style="width: 28%;">Admin</h3>
            {{else}}
            <h3 class="black-text" style="width: 28%;">Basic</h3>
            {{end}}
            <span style="width: 1vw;"></span>
            <form action="/admin/user?action=edit" method="post">
                <label for="{{$index}}" style="display: none;">{{$user.Username}}</label>
                <input class="black-text" id="{{$index}}" name="username" readonly style="display: none;"
                       type="text"
                       value="{{$user.Username}}">
                <button class="green-button" type="submit">Edit</button>
            </form>
        </div>
        {{end}}
        {{end}}
    </div>
</div>
<script src="/static/js/admin/users.js">
</script>