<div class="master-container">
    <div class="page-container">
        <div class="centered-container">
            <h1 class="purple-text">Update password</h1>
            <form action="/settings/update/password" method="post">
                <label for="old-password"></label>
                <input class="basic-text-input" id="old-password" name="old" placeholder="Old password" type="password"><br><br>
                <label for="new-password"></label>
                <input class="basic-text-input" id="new-password" name="new" placeholder="New password" type="password"><br><br>
                <label for="new-password-confirmation"></label>
                <input class="basic-text-input" id="new-password-confirmation" name="confirmation"
                       placeholder="New password confirmation"
                       type="password"><br><br>
                <input class="green-button" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>