<div class="master-container">
    <div class="page-container">
        <div class="centered-container">
            <h1 class="purple-text">Update security question</h1>
            <h2 class="error-block">Password does not match our records</h2>
            <form action="/settings/update/security/question" method="post">
                <label for="password"></label>
                <input class="basic-text-input" id="password" name="password" placeholder="Password"
                       type="password"><br><br>
                <label for="new-question">{{.OldQuestion}}</label>
                <input class="basic-text-input" id="new-question" name="question" placeholder="New question"
                       type="text"><br><br>
                <label for="new-question-answer"></label>
                <input class="basic-text-input" id="new-question-answer" name="answer"
                       placeholder="Answer"
                       type="password"><br><br>
                <input class="green-button" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
