.admin-panel {
    margin-top: 1%;
}

.new-button-container {
    display: flex;
    justify-content: right;
}

.list-container {
    box-shadow: 1px 1px 1px 1px gray;
    border: 1px solid gray;
    padding: 1%;

    margin-top: 1%;
}

.list-entry {
    max-width: 50%;
    margin: 0.25% auto;
    padding: 1%;
    box-shadow: 1px 1px 2px 1px gray;
    border: 0 solid gray;
    display: flex;

    justify-content: center;
    align-items: center;
}

.list-entry:hover {
    background: #f5f6fa;
}

.button {
    font-family: Arial, serif;
    cursor: pointer;
    text-decoration: none;
    padding: 1vh 1vw;
    background: #2ecc71;
    color: white;
    box-shadow: 1px 1px 1px 1px #27ae60;
    border: 1px solid #27ae60;
    border-radius: 2px;
    margin-left: 1%;
    margin-right: 1%;
}

.button:hover {
    background: #27ae60;
}

.description {
    padding: 1vh 1vw;
    font-family: Arial, serif;
}