.master-container {
    margin-top: 1%;
}

.username {
    font-family: Arial, serif;
    text-align: center;
    color: #8e44ad;
}

.container {
    box-shadow: 1px 1px 1px 1px gray;
    border: 1px solid gray;
    padding: 1%;
    margin-top: 1%;
}

.button {
    font-family: Arial, serif;
    cursor: pointer;
    text-decoration: none;
    padding: 1vh 1vw;
    background: #2ecc71;
    color: white;
    box-shadow: 1px 1px 1px 1px #27ae60;
    border: 1px solid #27ae60;
    border-radius: 2px;
    margin-left: 1%;
    margin-right: 1%;
}

.button:hover {
    background: #27ae60;
}

.delete-button {
    font-family: Arial, serif;
    cursor: pointer;
    text-decoration: none;
    padding: 1vh 1vw;
    background: #ff4d4d;
    color: white;
    box-shadow: 1px 1px 1px 1px #ff3838;
    border: 1px solid #ff3838;
    border-radius: 2px;
    margin-left: 1%;
    margin-right: 1%;
}

.delete-button:hover {
    background: #ff3838;
}

.text-input {
    font-family: Arial, serif;
    font-size: large;
    padding: 1%;
    border: 0 solid gray;
    border-radius: 2px;
}

.text-input:hover {
    background: #f1f2f6;
}

.container-title {
    font-family: Arial, serif;
    color: #3d3d3d;
}

.unchecked-checkbox {
    font-family: Arial, serif;
    cursor: pointer;
    text-decoration: none;
    padding: 1vh 1vw;
    background: #e74c3c;
    color: white;
    box-shadow: 1px 1px 1px 1px #c0392b;
    border: 1px solid #c0392b;
    border-radius: 2px;
    margin-left: 1%;
    margin-right: 1%;
}

.checked-checkbox {
    font-family: Arial, serif;
    cursor: pointer;
    text-decoration: none;
    padding: 1vh 1vw;
    background: #3498db;
    color: white;
    box-shadow: 1px 1px 1px 1px #2980b9;
    border: 1px solid #2980b9;
    border-radius: 2px;
    margin-left: 1%;
    margin-right: 1%;
}

.sub-container {
    display: flex;
    align-items: center;
}

.interface-name {
    font-family: Arial, serif;
}

.interface-container {
    max-width: 50%;
    padding: 1%;
    box-shadow: 1px 1px 2px 1px gray;
    border: 0 solid gray;
    display: flex;

    align-items: center;
}

.interface-container:hover {
    background: #f5f6fa;
}