<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="display: flex; justify-content: center; align-items: center;">
    <div class="login-container">
        <img alt="logo" src="/static/images/logo_transparent_background.png">
        <div class="login-form">
            <h2>Reset Password</h2>
            <form action="/reset?action=get-question" id="reset-form" method="post">
                <label for="username"></label>
                <i class="fa fa-user icon"></i>
                <input class="username-input" form="reset-form" id="username" name="username" placeholder="Username"
                       required="required" type="text">
                <br>
                <button form="reset-form" type="submit">Reset</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>