.dashboard-container {
    display: flex;

    text-align: center;
    justify-content: center;
    align-content: center;
}

.dashboard-message {
    font-family: Arial, serif;
    font-size: large;

    text-align: center;
    justify-content: center;
    align-content: center;

    width: 100%;
    padding: 5% 0;

    box-shadow: 1px 1px 2px 1px #3d3d3d;
    border: 1px solid gray;
    border-radius: 2px;
}