.settings-container {
    margin-top: 1%;

    padding: 5vh 5vw;
    box-shadow: 1px 1px 2px 1px #3d3d3d;
    border: 1px solid gray;
    border-radius: 2px;

    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.settings-button {
    font-family: Arial, serif;
    text-decoration: none;
    padding: 1vh 1vw;
    background: #2ecc71;
    color: white;
    box-shadow: 1px 1px 1px 1px #27ae60;
    border: 1px solid #27ae60;
    border-radius: 2px;
    margin-left: 1%;
    margin-right: 1%;
}

.settings-button:hover {
    background: #27ae60;
}