<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="display: flex; justify-content: center; align-items: center;">
    <div class="login-container">
        <img alt="logo" src="/static/images/logo_transparent_background.png">
        <div class="login-form">
            <h2>Reset Password</h2>
            <form action="/reset/password?action=answer-question" id="reset-form" method="post">
                <label for="username">Username</label><br>
                <i class="fa fa-user icon"></i>
                <input class="username-input" disabled form="reset-form" id="username" name="username"
                       placeholder="Username"
                       required="required" type="text" value="{{.Username}}">
                <br>
                <label for="question">Security Question</label><br>
                <i class="fa fa-question icon"></i>
                <label for="key"></label>
                <input id="key" name="key" style="display: none" value="{{.Key}}">
                <input class="username-input" disabled form="reset-form" id="question" name="question"
                       placeholder="Question"
                       required="required" type="text" value="{{.SecurityQuestion}}">
                <br>
                <label for="answer">Answer</label><br>
                <i class="fa fa-key icon"></i>
                <input class="password-input" form="reset-form" id="answer" name="answer" placeholder="Answer"
                       required="required" type="password">
                <br>
                <button form="reset-form" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>